*{
  margin: 0;
  padding: 0;
}

.container{
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
 
}

img{
  width: 30%;
}

.wrapper{
  background-color: #fff;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top :30%;
  left: 50%;
}

button{
  width:150px;
  height: 40px;
  background-color: #445A6F;
  border:1px solid #445A6F;
  color: #fff;
  font-size: 20px;
  margin: 30px;
}